.contact-banner {
  padding-top: 19rem;
  padding-bottom: 19rem;
  background-image: url("../images/map.svg");
  background-size: cover;
  background-position-x: 70%;
  background-repeat: no-repeat;
  background-color: #142053;

  &__heading {
    h1 {
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: 2rem;
      color: #fff;
      max-width: 50rem;
    }
    
    h2 {
      font-size: 5.4rem;
      margin-bottom: 0;
      color: #fff;
      max-width: 50rem;
    }
  }

  @media (max-width: 992px) {
    &__heading {
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 4rem;
      }
    }
  }

  @media (max-width: 576px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
    &__heading {
      h1 {
        font-size: 1.8rem;
      }

      h2 {
        font-size: 4rem;
      }
    }
  }
}
