.newsletter {
  padding-top: 10rem;
  padding-bottom: 10rem;
  &__heading {
    padding: 0 2rem;
    margin-bottom: 4.2rem;
    text-align: justify;

    h2 {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #60c6ed;
      margin-bottom: 2.6rem;
    }

    p {
      font-size: 2.2rem;
      color: #0c2947;
      line-height: 1.5;
      strong {
        font-size: 3.2rem;
        line-height: 1;
      }
    }
  }

  &__form {
    position: relative;
    .newsletter__form-group {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 3.2rem;

      .newsletter__form-label {
        position: absolute;
        top: 50%;
        left: calc(2.8rem + 20px);
        font-size: 1.4rem;
        font-weight: 600;
        transform: translateY(-50%);
        transition: all 200ms;
        pointer-events: none;
      }

      .newsletter__form-input {
        min-width: 100%;
        font-size: 1.4rem;
        padding: 2rem 2.8rem;
        border-radius: 50vw;
        border: 1px solid #d3d8dd;
        outline: none;
        cursor: pointer;        
        }

        &:focus-within,
        &--active {
          .newsletter__form-input {
            border-color: #60c6ed;
          }

          .newsletter__form-label {
            top: 1rem;
            font-size: 1rem;
          }
      }
      .wpcf7-not-valid-tip {
        position: absolute;
        top: 100%;
        left: 2rem;
        margin-top: 0.5rem;
        font-weight: 600;
      }
      &--hor {
        flex-direction: row-reverse;
        align-items: center;
      }
    }
    .wpcf7 form.invalid .wpcf7-response-output {
      font-size: 1.4rem;
      border: none;
      border-bottom: 2px solid #dc3232;
    }
  
    .wpcf7 form.sent .wpcf7-response-output {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      inset: 0;
      background: #fff;
      text-align: center;
      font-size: 3rem;
      border: none;
      margin: 0;
    }  
  }

  @media (max-width: 992px) {
    &__heading {
      p {
        font-size: 2rem;
        strong {
          font-size: 2.8rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__form .newsletter__form-submit {
      max-width: 100%;
      min-width: max-content;
    }
  }

  @media (max-width: 576px) {
    &__heading {
      p {
        font-size: 1.8rem;

        strong {
          font-size: 2.4rem;
        }
      }
    }
  }
}
