.about-us {
  padding-top: 12rem;
  &__headings {
    margin-bottom: 18rem;
    h2 {
      font-size: 8.6rem;
      font-weight: 400;
      line-height: 1;
      color: #0c2947;
      margin-bottom: 6.8rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 1.6;
    }
  }

  &__content {
    .about-us__image-bar {
      height: 26rem;
      background-repeat: no-repeat;
      background-position: center 62%;
      background-size: cover;
      margin-bottom: 9.6rem;
    }

    .about-us__text {
      padding-top: 3.5rem;

      h3 {
        font-size: 3.6rem;
        font-weight: 400;
        margin-bottom: 1em;
        color: #0c2947;
      }

      h4 {
        font-size: 2rem;
        font-weight: 400;
        color: #0091d4;
        margin-bottom: 3.6rem;
      }

      p {
        font-size: 1.8rem;
        line-height: 1.4;
        margin-bottom: 3.6rem;
      }
    }

    .about-us__image {
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      &::before {
        @include pseudo;
        inset: 0;
        background: linear-gradient(180deg rgba($color: #000, $alpha: 0.6), rgba($color: #000, $alpha: 0));
      }

      &-description {
        position: relative;
        padding-left: 4rem;
        max-width: 40rem;
        margin-top: 32rem;
        margin-bottom: 8.4rem;

        p {
          color: #fff;
          font-size: 2.4rem;
          line-height: 1.5;
        }
      }
    }
  }
  &__info {

    &-bg{
      grid-column: 1/span 4;
      grid-row: 1/4;
      background-color: #efeeee;
    }
    
    &-contact {
      
      &-bg {
        grid-column: 3/-1;
        grid-row: 2;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 8rem;
    
        &::before {
          @include pseudo;
          inset: 0;
          background-color: #142053ef;
        }
      }
    
      &-content {
        position: relative;
        padding: 9.3rem 14.7rem;
        p {
          font-size: 2.2rem;
          line-height: 1.5;
          color: #fff;
          margin-bottom: 6.7rem;
        }
      }
    
      @media (max-width: 768px) {
        &-bg {
          grid-column: 1/-1;
        }
        &-content {
          padding: 6rem 4rem;
          p {
            font-size: 1.8rem;
          }
        }
      }
    }

    &-heading {
      grid-column: 4/span 3;
      grid-row: 3;
      padding-top: 14rem;
      h2 {
        font-size: 3.6rem;
        color: #0c2947;
        font-weight: 800;
        width: min-content;
      }
    }
    &-text {
      grid-column: 7/span 4;
      grid-row: 3;
      padding: 14rem 0;
      h3 {
        font-size: 2rem;
        color: #0091d4;
        margin-bottom: 4.2rem;
      }
      p {
        font-size: 1.8rem;
        line-height: 1.6;
      }
    }
  }

  @media (max-width: 1200px) {
    &__headings {
      margin-bottom: 10rem;
      h2 {
        font-size: 6rem;
      }
    }

    &__info {
      &-bg {
        grid-column: 1/span 6;
      }
      &-heading {
        grid-column: 3/span 5;
      }
      
      &-text {
        grid-column: 9/span 4;
      }
    }
  }

  @media (max-width: 768px) {
    &__info {
      &-bg {
        grid-column: 1/span 7;
        grid-row: 1/5;
      }
      &-heading {
        grid-column: 1/-1;
        grid-row: 3;
        padding-top: 6rem;
        h2 {
          margin: auto;
          width: fit-content;
        }
      }
      &-text {
        grid-column: 3/13;
        grid-row: 4;
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
  }

  @media (max-width: 576px) {
    padding-top: 6rem;
    &__headings {
      margin-bottom: 6rem;

      h2 {
        font-size: 4rem;
        margin-bottom: 4rem;
      }
    }
    &__info {
      &-text {
        grid-column: 2/14;
      }
    }
  }
}
