.footer {
  padding-top: 10rem;
  
  .footer-top {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    padding-bottom: 10rem;
  }
  .footer__copyrights {
    text-align: center;
    font-size: 1.3rem;
    color: #000;
    padding-bottom: 1rem;
  }

  &__logo {
    img {
      height: 5.2rem;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin: 0 auto;

    &-image {
      height: 100%;
      width: 4.8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-text {
      p,
      a {
        color: $main-color;
      }
      a {
        text-decoration: underline;
        transition: color;
      }
    }
  }

  @media (max-width: 1200px) {
    .footer-top {
      grid-template-columns: 1fr max-content;
    }
  }

  @media (max-width:768px) {
    .footer-top {
      grid-template-columns: 1fr;
      place-items: center;
      gap: 4rem;
    }
  }
}
