.header {
  --menu-items-spacing: 4.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  transition: background 300ms;
  z-index: 10;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      height: 8rem;
      transition: height 300ms;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .header__menus {
      display: flex;
      align-items: center;
      gap: var(--menu-items-spacing);

      .header__main-menu {
        display: flex;
        gap: var(--menu-items-spacing);
        padding: 0;
        margin: 0;

        .menu-item {
          position: relative;
          list-style: none;
          font-size: 1.6rem;
          color: #fff;

          a {
            display: flex;
            align-items: center;
            gap: 0.7rem;

            .menu-item__arrow {
              width: 0.7rem;
              height: 0.7rem;
              border-bottom: 2px solid #fff;
              border-right: 2px solid #fff;
              transform: translateY(-0.1rem) rotate(45deg);
            }
          }

          &::after {
            @include pseudo;
            top: 100%;
            width: 100%;
            height: 2px;
            background: #ffd700;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 200ms;
          }

          .sub-menu {
            position: absolute;
            top: 100%;
            left: -5px;
            padding: 0 5px;
            padding-bottom: 5px;
            min-width: 30rem;
            overflow: hidden;
            transform-origin: top;
            transform: scaleY(0);

            .menu-item {
              margin-top: 1rem;
            }
          }

          &:hover {
            &::after {
              transform: scaleX(1);
            }
            .sub-menu {
              transform: scaleY(1);
            }
          }
        }
      }
    }

    .header__burger {
      display: none;
    }
  }

  &--sub {
    .header__content {
      .header__menus .header__main-menu .menu-item a {
        color: #000;
      }
    }
  }
  &--scrolled {
    background-color: #fff;
    .header__content {
      .header__logo {
        height: 6.5rem;
      }

      .header__menus {
        .header__main-menu .menu-item {
          .sub-menu {
            background-color: #fff;
          }
          a {
            color: $text-color;
          }
        }

        .language-selector__arrow {
          border-color: $text-color;
        }
      }
      .header__burger {
        &-bar {
          background: $text-color;
        }
      }
    }
  }

  @media (max-width: 992px) {
    background: #fff;
    .header__content {
      .header__burger {
        display: block;
        width: 4rem;
        aspect-ratio: 1;
        background: none;
        outline: none;
        border: none;
        z-index: 3;

        &-bar {
          position: relative;
          margin: 0 auto;
          width: 90%;
          height: 2px;
          background: $text-color;
          transition: all 300ms;

          &::before,
          &::after {
            @include pseudo;
            top: 10px;
            width: 100%;
            height: 100%;
            background: $text-color;
            transition: all 300ms;
          }

          &::before {
            top: -10px;
          }
        }

        &-active {
          .header__burger-bar {
            background: #fff;
            transform: rotate(135deg);
            &::before,
            &::after {
              top: 0;
              background: #fff;
              transform: rotate(90deg);
            }
          }
        }
      }

      .header__menus {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba($color: #2a416c, $alpha: 0.8);
        backdrop-filter: blur(3px);
        width: 100vw;
        height: 100vh;
        transform-origin: top right;
        transform: scale(0);
        transition: transform 300ms;

        .header__main-menu {
          flex-direction: column;
          color: #fff;

          .menu-item {
            font-size: 2.4rem;

            a {
              color: #fff;
              .menu-item__arrow {
                display: none;
              }
            }

            .sub-menu {
              display: none;
            }
          }
        }

        &-active {
          transform: scale(1);
        }
      }
    }

    &--scrolled {
      .header__content {
        .header__menus {
          .header__main-menu .menu-item a {
            color: #fff;
          }
          .language-selector__arrow {
            border-color: #fff;
          }
        }
      }
    }
  }
}
